/* Estilos gerais */
body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	width: 100%;
	max-width: 600px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 20px;
	text-align: center;
}

header {
	margin-bottom: 20px;
}

h1 {
	font-size: 24px;
	margin-bottom: 10px;
}

.botao-link {
	display: inline-block;
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	text-decoration: none;
	border-radius: 4px;
	margin-top: 10px;
}

	.botao-link:hover {
		background-color: #0056b3;
	}

.entrada-paciente {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

	.entrada-paciente input {
		padding: 10px;
		font-size: 16px;
		border: 1px solid #ccc;
		border-radius: 4px;
		margin-right: 10px;
		flex: 1;
	}

.botao {
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-right: 10px;
}

	.botao:hover {
		background-color: #0056b3;
	}

#listaPacientes {
	list-style: none;
	padding: 0;
	margin-bottom: 20px;
	text-align: left;
}

	#listaPacientes li {
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 4px;
		margin-bottom: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

		#listaPacientes li.N {
			background-color: #e0f7fa;
			color: #007bff;
		}

		#listaPacientes li.P {
			background-color: #ffebee;
			color: #d32f2f;
		}

.chamada-atual {
	font-size: 24px;
	font-weight: bold;
	padding: 20px;
	border: 2px solid #ccc;
	border-radius: 8px;
	background-color: #f1f1f1;
}
