* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #808080;
    overflow-y: auto;
    padding-top: 5px; /* Adiciona um padding superior para garantir espaço para o botão */
}

.navigation-button {
    align-self: flex-start;
    margin-bottom: 10px;
    background-color: #d3d3d3;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px; /* Adiciona um margin-top para posicionar o botão abaixo do padding */
}

.input-section {
    display: flex;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 20px;
    width: 35%;
    max-width: 1200px;
    flex-direction: row;
    justify-content: center;
}

.input-field {
    flex-grow: 0.75;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #000;
    margin-right: 10px;
}

.buttons-section {
    display: flex;
    flex-direction: column;
}

.normal-button, .priority-button {
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px 30px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

.priority-button {
    background-color: #f8d7da;
}

.list-section {
    background-color: #e0e0e0;
    border-radius: 10px;
    width: 35%;
    max-width: 1200px;
    min-width: 350px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.list-header {
    background-color: #d3d3d3;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    font-weight: bold;
}

.list-content {
    flex-grow: 1;
    display: flex;
    background-color: #f5f5f5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    flex-direction: column;
    max-height: 400px; /* Defina a altura máxima desejada */
    overflow-y: auto; /* Adiciona a barra de rolagem vertical */
}

.list-pacientes {
    list-style-type: none; /* Remove os pontos padrão */
    margin-left: 50px;
    margin-top: 10px;
    padding: 0;
}

.list-pacientes li {
    padding-left: 20px; /* Espaço para o pseudo-elemento */
    position: relative; /* Para o pseudo-elemento */
    cursor: pointer; /* Altera o cursor para pointer quando sobrevoar itens */
}

.list-pacientes li::before {
    content: "•"; /* Adiciona o ponto da lista */
    color: black; /* Define a cor do ponto */
    position: absolute; /* Posição absoluta para o ponto */
    left: 0; /* Alinha à esquerda */
    top: 50%; /* Centraliza verticalmente */
    transform: translateY(-50%); /* Ajusta a centralização */
    font-size: 24px; /* Aumenta o tamanho do ponto */
}

.prioridade {
    color:brown
}

.sortable-ghost {
    opacity: 0.4;
}

.selected {
    background-color: #a0c4ff; /* Azul acinzentado */
    padding-left: 20px; /* Espaço para o pseudo-elemento */
    margin-right: 80px; /* Adiciona a margem direita */
    border-radius: 5px; /* Adiciona cantos arredondados */
}

.selected::before {
    color: white; /* Altera a cor do ponto quando selecionado */
    font-size: 24px; /* Mantém o tamanho do ponto quando selecionado */
}

.margin-bottom {
    display: flex;
    margin-bottom: 5%;
    width: 35%;
    max-width: 1200px;
    justify-content: flex-end;
}

.call-patient-button {
    background-color: #d3d3d3;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
}

.container-reset-button{
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin-bottom: 5%;
}

.reset-button{
    background-color: #d3d3d3;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
}