* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    overflow-y: auto;
    padding-top: 5px;
}

.navigation-button {
    align-self: flex-start;
    margin-bottom: 10px;
    background-color: #005f6b; /* Azul escuro */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
}

.input-section {
    display: flex;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 20px;
    width: 35%;
    max-width: 1200px;
    flex-direction: row;
    justify-content: center;
}

.input-field {
    flex-grow: 0.75;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #cccccc; /* Cinza claro */
    margin-right: 10px;
}

.buttons-section {
    display: flex;
    flex-direction: column;
}

.normal-button, .priority-button {
    background-color: #005f6b; /* Azul escuro */
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

.priority-button {
    background-color: #ff6b6b; /* Vermelho suave */
}

.list-section {
    background-color: #ffffff; /* Branco */
    border-radius: 10px;
    width: 35%;
    max-width: 1200px;
    min-width: 350px;
    max-height: 500px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.list-header {
    background-color: #005f6b; /* Azul escuro */
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    font-weight: bold;
}

.list-content {
    flex-grow: 1;
    display: flex;
    background-color: #f4f4f4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    flex-direction: column;
    max-height: 460px;
    overflow-y: auto;
    border: 1px solid #cccccc;
}

.list-pacientes {
    list-style-type: none;
    margin-left: 50px;
    margin-top: 10px;
    padding: 0;
}

.list-pacientes li {
    padding-left: 20px;
    position: relative;
    cursor: pointer;
}

.list-pacientes li::before {
    content: "•";
    color: #005f6b; /* Azul escuro */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
}

.prioridade {
    color: #ff6b6b; /* Vermelho suave */
}

.sortable-ghost {
    opacity: 0.4;
}

.selected {
    background-color: #b2afff; /* Azul acinzentado */
    padding-left: 20px;
    margin-right: 80px;
    border-radius: 5px;
}

.selected::before {
    color: white;
    font-size: 24px;
}

.margin-bottom {
    display: flex;
    margin-bottom: 5%;
    width: 35%;
    max-width: 1200px;
    justify-content: space-between;
    min-width: 350px;
}

.delet-patient-button {
    background-color: #005f6b; /* Azul escuro */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
}

.call-patient-button {
    background-color: #005f6b; /* Azul escuro */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
}

.container-reset-button {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin-bottom: 5%;
}

.reset-button {
    background-color: #005f6b; /* Azul escuro */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
}
